= form_for @ticket, html: { multipart: true } do |f|
  %ol
    %li
      = f.text_field :title, placeholder: 'Title'
    %li
      = f.text_area :description, placeholder: 'Description'
  = f.submit

