%h1 All Service Requests
%section.secondary-objects
  %div.card.full.tickets
    %table
      %tr
        %th Property
        %th Title/Description
        %th Status
        =render 'tickets/ticket_row'


  
   

