%div
  %h1 Welcome to Kito!
  %p Good news! Your landlord uses Kito, which means it's going to be super painless keeping on top of payments and requesting service when your new home needs it! To get started, click the link bellow:
  =link_to 'Register', @path
