// Place all the styles related to the tenants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.welcome {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 25px;
}
